body{
    background-image: url("/fondos/fondo3.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    
    

    }
    
    h1{
        margin: 40px;
       
        text-align: center;
        
        
    }
    
    .cform{
        z-index: 1;
        text-align: center;
        margin: 250px;
        padding: 350 250;
        -webkit-box-shadow: 0px 0px 5px 5px rgb(196, 26, 187);
        -moz-box-shadow: 0px 0px 5px 5px rgba(129, 129, 129, 0.938);
        box-shadow: 0px 0px 5px 5px rgb(196, 26, 187);
         border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        box-sizing: border-box;
        
    }
    .cont1{
        margin: 0;
        align-content: center;
    }
    
    .cont2{
        width: 80%;
    }
    
    table{
        margin-top: 100px;
        text-align: center;
        width: 100%;
        height: 150px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 6px 6px 15px rgb(73, 20, 104);
    }
    
    .img-tbl{width: 100%;}
    
    .btn-tbl{
        margin: 5px;
        width: 60px;
        height: 40px;
        font-size: medium;
        padding: 6px;
        border-radius: 5px;
        color: #fff;
        background-color:rgb(94, 30, 131);
        text-decoration: none;
        transition: .4s all ease;
    }
    
    .btn-tbl:hover{
        color: black;
        border: 2px solid rgb(83, 18, 109);
        background-color: #fff;
    }

    /* :root{} */

*{
    font-family: system-ui;
}

html{
    scroll-behavior: smooth;
}

/* for login */

.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container{
    width: 400px;
    height: 500px;
    padding: 10px 10px;
}

.form-login{
    background-color: #fff;
    padding: 10px 10px;
    box-shadow: 1px 4px 20px rgb(135, 111, 190);
    display:grid;
    grid-template-columns: 2; /* estudiar grid */
}

.form-login input{
    width: 260px;
    margin: 5px;
    height: 40px;
    border-radius: 5px;
    border: .5px solid #8678d680;
    outline: none;
    transition: .3s ease all;
}

.form-login input:focus{
    background-color:  rgba(34, 8, 182, 0.5);
    border: 5px solid rgba(255, 255, 255);
    width: 253px;
    color: #fff;
}

.form-login input[type="submit"]{
    width: 270px;
    margin: auto;
    background: rgb(183, 170, 219);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: .5s ease all;
   
}

.form-login input[type="submit"]:hover{
    font-size: 1.25rem;
    background-image: linear-gradient(to right, #8d64da, #332894, #c1afe2);
    background-size: 500%;
    animation: formSubmitBackround 7s infinite alternate;
}



.form-conf {
    background-color: #ccb0ff8e;
    
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    margin: 100px;

}


@keyframes formSubmitBackround{
    0%{background-position: left}
    100%{background-position: right}
}


